<html>
  <head>
    <title>We The MIGOS: The Huncho</title>
  </head>
  <body>
    <h1>QUAVO!</h1>
    <iframe src="https://giphy.com/embed/l0EryhsbPnSrQlwpW" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/migos-music-video-t-shirt-l0EryhsbPnSrQlwpW">via GIPHY</a></p>
    <h4>Latest Solo Release:</h4>
    <p> QUAVO HUNCHO</p>
    <img src=https://upload.wikimedia.org/wikipedia/en/thumb/6/66/QuavoHuncho.png/220px-QuavoHuncho.png>
    <div>Top Songs:
        <ul> SWING ft. Davido</ul>
        <ul> WORKIN ME </ul>
        <ul> LOST ft. Kid Cudi</ul>
    </div>
    <div>
    <a href = "index.html">Home</a>
      <a href = "tay.html">Takeoff</a>
      <a href = "off.html">Offset</a>
    </div>
  </body>
</html>
