<html>
  <head>
    <title>We The MIGOS</title>
  </head>
  <body>
    <h1>QC PRESENTS: THE MIGOS</h1>
    <iframe src="https://giphy.com/embed/QfK8P5P5m0MBWBsGbk" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/migos-drake-offset-QfK8P5P5m0MBWBsGbk">via GIPHY</a></p>
    <h3>Come Along and Get to know Each Member!</h3>
    <div>Migos are a rap group from Lawrenceville, Georgia, formed in 2008. The trio consists of Quavo (real name Quavious Marshall), Takeoff (real name Kirshnik Ball) and Offset (real name Kiari Cephus). The Migos are relatives: members Quavo and Takeoff are uncle and nephew, and members Quavo and Offset are cousins.

      They are most known for their hit songs “Versace”, that became even more successful after Drake released a remix of it, and “Bad and Boujee.” Despite this, “Bando” was actually their first hit song.
      
      They have released numerous mixtapes since 2011, most notably Young Rich Niggas, No Label 2, Rich Nigga Timeline & Young Rich Niggas 2.
      
      They released their debut album Yung Rich Nation on July 31st, 2015, their second studio album, Culture, was released on January 27th, 2017. The group’s 3rd album, Culture II, was released on January 26th, 2018.
      
      With the release of Culture II, Migos tied The Beatles for most simultaneous Hot 100 songs by a group on the Billboard chart with 14.</div>
    <div>
      <iframe src="https://giphy.com/embed/BcP3oIJeJaUqcZWZJV" width="360" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        
      <iframe src="https://giphy.com/embed/5huaLkJy1dv0LQGd0R" width="360" height="202" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        
      <iframe src="https://giphy.com/embed/3ohzgM6cKqSptYwgdW" width="360" height="196" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>       
    </div>
    <div>
      <a href = "huncho.html">Quavo</a>
      <a href = "tay.html">Takeoff</a>
      <a href = "off.html">Offset</a>
    </div>
  </body>
</html>
