<html>
  <head>
    <title>We The MIGOS: The Huncho</title>
  </head>
  <body>
    <h1>OFFSET!</h1>
    <iframe src="https://giphy.com/embed/1zkMcXq96o2PTyEI6P" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/applemusic-music-video-apple-trending-videos-1zkMcXq96o2PTyEI6P">via GIPHY</a></p>    <h4>Latest Solo Release:</h4>
    <p> Without Warning</p>
    <img src=https://upload.wikimedia.org/wikipedia/en/thumb/d/de/21_Savage%2C_Offset_%26_Metro_Boomin_-_Without_Warning.png/220px-21_Savage%2C_Offset_%26_Metro_Boomin_-_Without_Warning.png>
    <div>Top Songs:
        <ul> Rick Flair Drip</ul>
        <ul> Nightmare ft. Metro Boom </ul>
        <ul> Monday</ul>

    </div>
    <div>
        <a href = "index.html">Home</a>
        <a href = "huncho.html">Quavo</a>
        <a href = "off.html">Offset</a>
    </div>
  </body>
</html>
