<html>
  <head>
    <title>We The MIGOS: The Huncho</title>
  </head>
  <body>
    <h1>TAKEOFF!</h1>
    v\<iframe src="https://giphy.com/embed/4WFiUvp6YdYAjMeLmH" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/migos-drake-offset-4WFiUvp6YdYAjMeLmH">via GIPHY</a></p>
    <h4>Latest Solo Release:</h4>
    <p> The Last Rocket</p>
    <img src=https://t2.genius.com/unsafe/300x300/https%3A%2F%2Fimages.genius.com%2F74b56667823dea124a1efe48efbe1735.1000x1000x1.jpg>
    <div>Top Songs:
        <ul> Infatuation</ul>
        <ul> Last Memory </ul>
        <ul> Casper</ul>

    </div>
    <div>
        <a href = "index.html">Home</a>
        <a href = "huncho.html">Quavo</a>
        <a href = "off.html">Offset</a>
    </div>
  </body>
</html>
